header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#list-students {
  display: flex;
}

.card-student {
  width: 150px;
  margin-right: 20px;
}
.box-student {
  border: 2px solid black;
  margin-bottom: 10px;
}

.card-student > button {
  width: 100%;
}

#detail,
#edit {
  margin-top: 20px;
  border: 2px solid black;
  padding: 0 10px;
  width: 200px;
}

.student-action-box {
  text-align: right;
  margin-bottom: 30px;
  margin-top: 10px;
}

.detail-content {
  text-align: center;
}
